.container-fluid{
    background-color: black;
}

.box-card {
    width: 400px;
    height: 200x;
    height: 200px;
    border: 11px solid white;
}

ul#list_box-card {
    display: flex;
    flex-wrap: wrap;
}

.col-sm {
    height: 200px;
    margin: 40px;
    border-radius: 23px;
    cursor: pointer;
}

#boxOne{
    background-color: aqua;
    opacity: 0.2;
}

#boxTwo{
    background-color: red;
    opacity: 0.2;
}

#boxThree{
    background-color: #9b79bf;
    opacity: 0.2;
}

#boxFour{
    background-color: #313940;
    opacity: 0.2;
}

#boxFive{
    background-color: #ff006a;
    opacity: 0.2;
}

#boxSix{
    background-color: #aed82e;
    opacity: 0.2;
}

li{
    cursor: pointer;
}